version: '3.4'

services:
  bot:
    build:
      context: .
      args:
        COOKIE:
    environment:
      BOT_TOKEN:
      COOKIE:
      REDIS_PORT: ${REDIS_PORT:-6381}
    restart: unless-stopped
    links:
      - redis
  redis:
    image: "redis:alpine@sha256:3487aa5cf06dceb38202b06bba45b6e6d8a92288848698a6518eee5f63a293a3"
    environment:
      REDIS_PORT: ${REDIS_PORT:-6381}
    command: redis-server --port ${REDIS_PORT:-6381} --appendonly yes
    expose:
      - "${REDIS_PORT:-6381}"
    ports:
      - "127.0.0.1:${REDIS_PORT:-6381}:${REDIS_PORT:-6381}"
    sysctls:
      net.core.somaxconn: 1024
    restart: unless-stopped
    volumes:
      - ./redis-data:/data:rw
