[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple"
verify_ssl = true
name = "testpypi"

[requires]
python_version = "3.6"

[packages]
"discord.py" = "*"
mcstatus = {version = ">2.2", index = "testpypi"}
redis = "*"
retrying = "*"

[dev-packages]
asynctest = "*"
codecov = "*"
"e1839a8" = {path = ".", editable = true}
mockredispy = "*"
pex = "*"
pytest-cov = "*"
pytest-socket = "*"
pytest = "*"
setuptools-scm = "*"
