aiohttp==3.0.7
async-timeout==2.0.0
asynctest==0.12.0
attrs==17.4.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
codecov==2.0.15
coverage==4.4.2
discord.py==0.16.12
dnspython==1.15.0
dnspython3==1.15.0
idna==2.6
git+https://github.com/kevinkjt2000/mcstatus.git@patch-1
multidict==4.0.0
pluggy==0.6.0
py==1.5.2
pytest==3.3.2
pytest-cov==2.5.1
pytest-socket==0.2.0
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
websockets==3.4
