aiohttp==1.0.5
async-timeout==2.0.0
asynctest==0.11.1
attrs==17.3.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.4.2
discord.py==0.16.12
dnspython==1.15.0
dnspython3==1.15.0
idna==2.6
mcstatus==2.2
multidict==3.3.2
pluggy==0.6.0
py==1.5.2
pytest==3.3.1
pytest-cov==2.5.1
pytest-socket==0.2.0
python-coveralls==2.9.1
PyYAML==3.12
requests==2.18.4
six==1.11.0
urllib3==1.22
websockets==3.4
